# Feladat 1 (2 pont)

A `fossil-fuel-co2-emissions-by-nation.csv` fileban találod a világ országai által fosszilis üzemanyagok égetése révén kibocsátott $CO_2$ t-ben mért mennyiségének éves bontását az elmúlt 200 évre visszamenőleg.

- A `pandas` modul segítségével olvassd be az adatfilet!
- A 2014-es adatok alapján határozd meg, hogy abban az évben a teljes kibocsátást (**Total** oszlop) figyelembevéve melyik volt a 10 legszennyezőbb órszág.
- Készíts egy ábrát amin a 10 legszennyezőbb ország teljes kibocsájtását ábrázolod az idő (**Year** oszlop) függvényében. 
- Saját szavaiddal fogalmazd meg, hogy 2005 környékén mi történt ?
- Készíts ábrákat visegrádi négyek kibocsátásainak éves alakulásáról. Minden ábrán külön tüntesd fel a szilárd (**Solid Fuel** oszlop), a folyékony (**Liquid Fuel** oszlop) és a gáznemű (**Gas Fuel** oszlop) üzemanyagok okoszta kibocsátársokat. 
- Saját szavaiddal fogalmazd meg, hogy szerinted mi lehet az oka annak, hogy a négy országból kettő kevesebb adattal rendelkezik? Hol lehetnek a hiányzó adatok?

In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv("fossil-fuel-co2-emissions-by-nation.csv", index_col = "Year")
#beolvasom a filet és megnézem, hogy hogy is néz ki
df

,Country,Total,Solid Fuel,Liquid Fuel,Gas Fuel,Cement,Gas Flaring,Per Capita,Bunker fuels (Not in Total)
Year,,,,,,,,,
1751,UNITED KINGDOM,2552,2552,0,0,0,0,0.00,0
1752,UNITED KINGDOM,2553,2553,0,0,0,0,0.00,0
1753,UNITED KINGDOM,2553,2553,0,0,0,0,0.00,0
1754,UNITED KINGDOM,2554,2554,0,0,0,0,0.00,0
1755,UNITED KINGDOM,2555,2555,0,0,0,0,0.00,0
1756,UNITED KINGDOM,2731,2731,0,0,0,0,0.00,0
1757,UNITED KINGDOM,2732,2732,0,0,0,0,0.00,0
1758,UNITED KINGDOM,2733,2733,0,0,0,0,0.00,0
1759,UNITED KINGDOM,2734,2734,0,0,0,0,0.00,0
1760,UNITED KINGDOM,2734,2734,0,0,0,0,0.00,0
1761,UNITED KINGDOM,2995,2995,0,0,0,0,0.00,0
1762,UNITED KINGDOM,2996,2996,0,0,0,0,0.00,0
1763,UNITED KINGDOM,2997,2997,0,0,0,0,0.00,0
1764,UNITED KINGDOM,2998,2998,0,0,0,0,0.00,0
1765,UNITED KINGDOM,2999,2999,0,0,0,0,0.00,0
1766,UNITED KINGDOM,3346,3346,0,0,0,0,0.00,0
1767,UNITED KINGDOM,3347,3347,0,0,0,0,0.00,0
1768,UNITED KINGDOM,3348,3348,0,0,0,0,0.00,0
1769,UNITED KINGDOM,3349,3349,0,0,0,0,0.00,0
1770,UNITED KINGDOM,3350,3350,0,0,0,0,0.00,0
1771,UNITED KINGDOM,3715,3715,0,0,0,0,0.00,0
1772,UNITED KINGDOM,3716,3716,0,0,0,0,0.00,0
1773,UNITED KINGDOM,3717,3717,0,0,0,0,0.00,0
1774,UNITED KINGDOM,3718,3718,0,0,0,0,0.00,0
1775,UNITED KINGDOM,3719,3719,0,0,0,0,0.00,0
1776,UNITED KINGDOM,4104,4104,0,0,0,0,0.00,0
1777,UNITED KINGDOM,4105,4105,0,0,0,0,0.00,0
1778,UNITED KINGDOM,4106,4106,0,0,0,0,0.00,0
1779,UNITED KINGDOM,4107,4107,0,0,0,0,0.00,0
1780,UNITED KINGDOM,4109,4109,0,0,0,0,0.00,0
...,...,...,...,...,...,...,...,...,...
2014,SWEDEN,11841,2183,8822,496,340,0,1.22,2107
2014,SWITZERLAND,9628,148,7230,1668,583,0,1.17,1312
2014,SYRIAN ARAB REPUBLIC,8373,1,5198,2480,517,178,0.45,219
2014,TAIWAN,72013,42516,18985,8526,1985,0,3.08,3046
2014,TAJIKISTAN,1415,404,689,166,156,0,0.17,52
2014,THAILAND,86232,16612,41230,23633,4757,0,1.27,3980
2014,TIMOR-LESTE (FORMERLY EAST TIMOR),128,0,128,0,0,0,0.11,3
2014,TOGO,715,0,467,20,228,0,0.10,81
2014,TONGA,33,0,33,0,0,0,0.31,3
2014,TRINIDAD AND TOBAGO,12619,0,1243,11262,114,0,9.32,575
2014,TUNISIA,7862,0,3235,3291,1241,96,0.71,239
2014,TURKEY,94350,37875,21662,25111,9701,0,1.22,3054
2014,TURKMENISTAN,18659,0,5453,12812,394,0,3.52,402
2014,TURKS AND CAICOS ISLANDS,56,0,56,0,0,0,1.66,0
2014,TUVALU,3,0,3,0,0,0,0.00,0
2014,UGANDA,1426,125,1011,0,291,0,0.04,98
2014,UKRAINE,61985,31649,8151,20874,1310,0,1.38,109
2014,UNITED ARAB EMIRATES,57641,2157,17922,34852,2176,534,6.34,17317
2014,UNITED KINGDOM,114486,31081,44274,37340,1218,573,1.78,10921
2014,UNITED REPUBLIC OF TANZANIA,3153,178,2117,475,382,1,0.06,170
2014,UNITED STATES OF AMERICA,1432855,450047,576531,390719,11314,4244,4.43,30722
2014,URUGUAY,1840,2,1700,25,112,0,0.54,251
2014,UZBEKISTAN,28692,1677,2086,23929,1000,0,0.97,0
2014,VANUATU,42,0,42,0,0,0,0.16,10
2014,VENEZUELA,50510,204,28445,12731,1088,8042,1.65,1256
2014,VIET NAM,45517,19246,12694,5349,8229,0,0.49,761
2014,WALLIS AND FUTUNA ISLANDS,6,0,6,0,0,0,0.44,1
2014,YEMEN,6190,137,5090,581,381,0,0.24,153
2014,ZAMBIA,1228,132,797,0,299,0,0.08,33
2014,ZIMBABWE,3278,2097,1005,0,177,0,0.22,9

In [8]:
df_base = df.loc['2014'] #csak a 2014-es adatokat vegyük figyelembe

df_final = df_base.sort_values(by = "Total", ascending=False, inplace=False) #a Total oszlop csökkenő sorrendbe rendezése

df_needed = df_final.head(10) #csak az első 10 értékre van szükség
df_needed

,Country,Total,Solid Fuel,Liquid Fuel,Gas Fuel,Cement,Gas Flaring,Per Capita,Bunker fuels (Not in Total)
Year,,,,,,,,,
2014,CHINA (MAINLAND),2806634,2026492,344725,96504,338912,0,2.05,12066
2014,UNITED STATES OF AMERICA,1432855,450047,576531,390719,11314,4244,4.43,30722
2014,INDIA,610411,407077,140199,25278,37400,457,0.47,4396
2014,RUSSIAN FEDERATION,465052,110403,107368,232204,9322,5755,3.24,17585
2014,JAPAN,331074,122461,133395,67342,7876,0,2.61,8123
2014,GERMANY,196314,84098,68263,39582,4365,5,2.43,8706
2014,ISLAMIC REPUBLIC OF IRAN,177115,900,66662,91127,8976,9450,2.27,4218
2014,SAUDI ARABIA,163907,0,112689,43430,7782,5,5.31,4718
2014,REPUBLIC OF KOREA,160119,84161,42616,26942,6399,0,3.20,10570
2014,CANADA,146494,20667,67717,55436,1616,1059,4.12,914

In [11]:
country = df_needed[['Country']]
year = df[['Year']]
total = df[['Total']]

KeyError: "None of [Index(['Year'], dtype='object')] are in the [columns]"